# Core Data & Numerics
numpy
pandas
openpyxl          # untuk read_excel .xlsx

# Visualisasi
matplotlib
seaborn
wordcloud

# NLP
nltk

# Machine Learning
scikit-learn
scipy

# Deep Learning
tensorflow        # includes keras

# AI Service Specifics
fastapi
uvicorn
google-genai
pydantic
python-dotenv
